* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  text-align: center;
  grid-template: 10vh 5vh 80vh 5vh / 1fr 3fr;
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.container .nav{
  padding: 0px;
}

.header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: #393f4d;
  grid-area: 1/1/2/3;
}

.menu > ul{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.menu ul,
.menu li {
  font-size: 16px;
  list-style-type: none;
}

.sidebar {
  display:grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: #C50208;
  grid-area: 2/1/4/2;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav > ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #C50208;
  height: 100%;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  list-style-type: none;
}

.article {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-area: 4/1/5/3;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}
